@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text: #0b1618;
  --background: #f4fafb;
  --secondary-background: #e9f1f3;
  --primary: #15586a;
  --secondary: #6ad3f0;
  --accent: #04add7;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--text);
  background-color: var(--background);
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */

  .shad-input {
    @apply h-12 to-background-50  w-full max-w-full  !important;
  }

  .shad-input:focus {
    @apply border-primary-500 !important; /* Change border color when focused */
}

  .shad-textarea {
    @apply h-36 bg-dark-3 rounded-xl border-none focus-visible:ring-1 focus-visible:ring-offset-1 ring-offset-light-3 !important;
  }

  /* Button */
  .shad-button_primary {
    @apply bg-primary-500 h-12 flex gap-2 hover:bg-primary-300 !important;
  }

  .shad-button_secondary {
    @apply bg-text-100 h-12 flex gap-2 !important; /* Use bg-transparent instead of bg-none for clarity */
  }
  
  .shad-button_red:hover {
    @apply bg-red-400 text-white !important;
  }
  
}

@media (max-width: 1150px) {

}

@media (max-width: 766px) {

}

@media (min-width: 767px) {

}
